.post {

  display: inline-block;
  vertical-align: top;
  height: 400px;
  margin-right: 45px;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 10px;
  padding: 5% 3% !important;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 18px 40px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 18px 40px -12px rgba(0,0,0,0.75);
  box-shadow: 0px 18px 40px -12px rgba(0,0,0,0.75);
  text-align: left;
  .post-content {
    .post-category {
      text-transform: uppercase;
      font-weight: bold;
    }
    .post-title a {
      color: #ffb700;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .post-controls .post-button {
    display: inline-block;
    vertical-align: bottom;
    margin-right: 15px;
    font-weight: 600;
    &:last-child {
      margin-right: 0;
    }
  }
  &:last-child {
    margin-right: 0;
  }

  .label {
    font-weight: 700;
  }
}
