header {
  text-align: left;
  padding: 2% 4%;
  border-bottom: 2px solid rgba(0,0,0,0.1);
  .nav {
    list-style: none;
    display: flex;
    .logo {
      font-weight: 900;
    }
    li {
      padding-right: 20px;
      a {
        text-decoration: none;
        color: #131313;
      }
    }
  }
}
